@model Nemesys.Models.UserModels.Investigator

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData["IsLoggedIn"] == true)
{
<h1>Profile</h1>

<div>
    <h4>Hello @Html.DisplayFor(model => model.fName)</h4>
    <hr />
    
</div>

}

