@using Microsoft.AspNetCore.Identity
@using Nemesys.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">to</h2>
    <h3 class="display-1">Nemesys</h3>
    <h4 class="h2">Near Miss Exposure and Reporting System!</h4>
    <p>Report or view reports about any hazards on campus!</p>

    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
        }
    }
    else
    {
        <a class="btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="btn btn-primary" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    }
</div>

